.about-container {
    text-align: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.about-text {
    text-align: left;
    font-size: larger;
}